.authentication-wrapper {
    background-color: #ffffff !important;
    /* background-image: url('../img/bg_splash.png') !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; */
}

.image img {
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
}

.w-px-400 {
    background-color: #ffffff;
    border-radius: 1.5rem
}